/* Стили Portfolio */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.page-portfolio {
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
