/* Logo Header */

.logo {
  margin-right: 93px;

  color: var(--primary-text-color);
  font-family: Raleway, curcive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/* Logo Footer */

.logo-color {
  color: #ffffff;
}

.logotype {
  margin-bottom: 20px;
}
